<!-- <ion-view view-title="Details">
	<ion-content class="padding">
	  Here are the details.
	</ion-content>
</ion-view> -->


<ion-header-bar class="bar-positive">
  <h2 class="title">Prescribing information</h2>
</ion-header-bar>

<ion-view>
  <ion-content ng-controller="DrugController">
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap"
        ng-repeat="(drugIndex, drug) in drugs">
          <h2>{{ item.Drugname }}</h2>
          <h3>{{ item.Indication }}</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<!-- | filter: { shortname: whichdrug } -->
