<!-- <ion-view view-title="Details">
	<ion-content class="padding">
	  Here are the details.
	</ion-content>
</ion-view> -->


<ion-view view-title="PBS Details">
	<ion-content>
{{ Customer.CompanyName }}
		<div class="card">
		  <div class="item item-text-wrap"
			ng-repeat="Order in listOfOrders">

			Order # {{Order.OrderID}}

		  </div>
		</div>

		<div id="divDetailView">
        <!-- Get AngularJS to create one DIV for each Order that this Customer has made. -->
        <div id="Order_{{Order.OrderID}}" ng-repeat="Order in listOfOrders" class="cssOneOrderRecord">
            <!-- Each Order will have a header bar, with Order ID and date. -->
            <div class="cssOneOrderHeader">
                <div class="cssOrderID">Order # {{Order.OrderID}}</div>
                <div class="cssOrderDate">Order Date: {{Order.OrderDate}}</div>
            </div>

            <!-- AngularJS will create one DIV for each Product in this particular Order -->
            <div class="cssOneProductRecord" ng-repeat='Product in Order.ProductsInBasket | filter:ProductsInOrder' ng-class="{ cssProductEven: (($index%2) == 0), cssProductOdd: ($index%2)}">
                <div class="cssOneProductQty">{{Product.Quantity}}</div>
                <div class="cssOneProductName">{{Product.ProductName}}</div>
                <div class="cssOneProductPrice">@ {{Product.UnitPrice | currency}}</div>
                <div class="cssOneProductSubtotal">{{Product.UnitPrice * Product.Quantity | currency}}</div>
            </div>

            <!-- The fiddly bit - calculating totals for this Order -->
            <div class="cssOneOrderTotal">
                <div class="cssOneProductQty">
                    {{Order.ProductsInBasket|countItemsInOrder}} item(s), {{Order.ProductsInBasket.length}} product(s)
                </div>
                <div class="cssOneProductSubtotal">
                    {{Order.ProductsInBasket|orderTotal | currency}}
                </div>
            </div>
        </div>
    </div>

	</ion-content>
</ion-view>



<!-- Then, we have our right-hand panel, showing one Customer's orders -->
